html {
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    font-weight: 500;
    background-color: white;
    width: 100%;
    height: 100vh;
}

.product-items {
    border: 1px solid #ccc;
    padding: 10px 9px;

}

.product-image {
    display: inline-block;
    border: 1px solid #ccc;
    padding: 5px 9px;
    margin-bottom: 10px;
}

.product-item {
    border: 1px solid #ccc;
    padding: 5px 15px;
    display: inline-block;
}

.click-buy {
    text-decoration: none;
    color: rgb(81, 126, 110);
    padding: 6px;

}

.buy-button {
    margin-left: 55%;
    display: inline-block;
    background-color: rgb(172, 226, 97);
    border-radius: 6px;
    padding: 10px;
}

.insert-img {
    margin-top: 20px;
    border-radius: 5px;
    display: inline-block;
}

.update-img {
    margin-top: 20px;
    border-radius: 5px;
    display: inline-block;
}